Flask>=2.0.0  
gunicorn  
google-auth-oauthlib>=0.4.6  
google-api-python-client>=2.70.0  
google-auth>=2.3.3  
Pillow>=9.0.0  
pytesseract>=0.3.10  
openai  
pvrecorder  
playsound==1.2.2  
IPython  
pytz  
tzlocal  
pdf2image  
docx2pdf  
python-dotenv  
requests>=2.25.0  
httplib2>=0.20.0  
uritemplate>=3.0.1  
oauthlib>=3.1.0  
six>=1.15.0  
Jinja2>=3.0.0  
MarkupSafe>=2.0.0  
itsdangerous>=2.0.0  
click>=8.0.0